/* MAIN */
.main {
  background: url(../../../public/fundomain.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 125px 0;
}

.main .title_main {
  padding: 50px 90px;
}

.main .title_main h3 {
  font-size: 50px;
  font-weight: 500;
}

.main .title_main h2 {
  font-size: 60px;
}

.main .title_main h4 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.main .cta_main {
  margin: 20px 0;
}

.main .cta_main button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
}

.main .cta_main .button {
  display: flex;
  justify-content: center;
  width: 400px;
  color: #fff;
  background: linear-gradient(270deg, #3b81aa 0%, #0e5c88 100%);
  border-radius: 15px;
  border: none;
  padding: 6px 14px;
}

.main .cta_main .button:hover {
  transform: scale(1.03);
  transition: all 150ms;
}

.main .cta_main p {
  margin: 10px 0 0 0;
}

/* SLOGAN */
.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background: linear-gradient(270deg, #3b81aa 0%, #0e5c88 100%);
}

.slogan .content_slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slogan .content_slogan p {
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
}

.slogan .content_slogan img {
  width: 40px;
}
/* LOCALIZAÇÃO */
.localizacao {
  display: flex;
  flex-direction: column;
  margin: 70px 0;
}

.localizacao .text_localizacao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.localizacao .text_localizacao h2 {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 800;
}

.localizacao .text_localizacao p {
  font-size: 18px;
}

.localizacao .maps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 10px 0;
}

.localizacao .maps img {
  border-radius: 15px;
  border: solid #000 2px;
  width: 900px;
}

.localizacao .descricao_localizacao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.localizacao .descricao_localizacao p {
  font-weight: 500;
  letter-spacing: 1px;
}
