@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans&display=swap");

.navbar {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 29px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #ffffffa9;
  backdrop-filter: blur(20px);
  z-index: 100;
}
.navbar .navigation ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 40px;
  align-items: center;
}

.navbar .navigation {
  display: flex;
}

.navbar .navigation .links {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 40px;
  align-items: center;
  margin-right: 40px;
}

/*LOGO NAVBAR*/
.navbar .logo {
  letter-spacing: 2px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  background: linear-gradient(270deg, #3b81aa 0%, #0c3f5c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*NAVEGAÇÃO NAVBAR*/
.navigation a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
}

.navigation .links a:hover {
  background: linear-gradient(270deg, #3b81aa 0%, #0c3f5c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation .about:hover {
  transform: scale(1.02);
  transition: all 150ms;
}

.navigation .contato:hover {
  transform: scale(1.02);
  transition: all 150ms;
}

.navigation .seguros:hover {
  transform: scale(1.05);
  transition: all 150ms;
}

/*CTA NAVIGATION*/
.navigation .cta_navigation {
  color: #fff;
  background: linear-gradient(270deg, #3b81aa 0%, #0e5c88 100%);
  border-radius: 8px;
  padding: 6px 14px;
  margin: 0 10px;
}

.navigation .cta_navigation a {
  color: #fff;
  font-size: 24px;
}

.navigation .cta_navigation:hover {
  transform: scale(1.02);
  transition: all 150ms;
}
