/* ROLAGEM */

.section_rolagem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 35px 0;
}

.section_rolagem p {
  font-size: 21px;
}

.section_rolagem img {
  width: 50px;
}
